top {
	color:black;
}
name {
	color:black;
}
p1 {
	color:black;
}
.hyper-links{
	max-width: 100%;
}
p1{
	font-size: 30px;
}
body {
	background-color: white;
}
.header{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.left{
	width:;
	height:42px;
	float:left;
	text-align: center;
}
.right{
	width:200px;
	height:42px;
	float: right;
	text-align: right;
}
.name{
	text-align: center;
}
.story{
	height: 650px;
	width: 100%;
}
.photo1{
	min-height: 553px;
	height: 553px;
	float: left;
	width: 364px;
}
.underPhoto1{
	height: 50px;
	width: 364px;
	text-align: center;
}
.body2{
	float: right;
	height: 600px;
	width: 1500px;
	min-width: 1500px;
	max-width: 5000px;
}
